<template>
  <div id="app">
    <hr>
  <ul>
    <li class="playlists" v-for="playlist in playlists">
      {{ playlist.name }}
      <ul>
        <li class="musics" v-for="music in playlist.music">
          {{ music.name}} - {{music.band.name}} - {{music.band.genre.name}}
        </li>
      </ul>
    </li>
  </ul>
  <hr>
  <hr>
  <div class="form">
    
      <label for="playlist_name">Nome da Playlist: </label><input type="text" name="playlist_name" v-model="playlist_name"><br><br>
      <div>
      <label for="music_name">Nome da Muscica: </label>
      <input type="text" name="music_name" v-model="music_name"><br><br>
      <label for="band_name">Nome da Banda: </label>
      <input type="text" name="band_name" v-model="band_name"><br><br>
      <label for="genre_name">Genero: </label>
      <input type="text" name="genre_name" v-model="genre_name"><br><br>
      <label for="record_name">Nome da gravadora: </label>
      <input type="text" name="record_name" v-model="record_name"><br><br>

      <button v-on:click.prevent="addmusic">Adicionar Musica</button>
      <button v-on:click.prevent="addplaylist">gravar Playlist</button>
    </div>


  </div>
    <div class="display">
      nome playlist: {{playlist_name}}<br>
      musicas:
      <ul>
        <li class="" v-for="music in musiclist">
          {{ music.name }} - {{ music.band.name }} - {{ music.band.genre.name }}
        </li>
        </ul>
    </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  data: () => ({
    playlists: [],
    playlist_name: '',
    music_name: '',
    band_name: '',
    genre_name: '',
    record_name: '',
    music: {name: this.music_name, band: {name: this.playlist_name, genre: {name: this.genre_name}, record: {name: this.record_name}}},
    musiclist: [],
    formpost: {
      name: this.playlist_name,
      music: this.musiclist
    },

    errors: []
  }),
  methods: {
    post () {
      axios.post(`http://localhost:8000/playlist/`, this.formpost)
      .then(response => {})
      .catch(e => {
        this.errors.push(e)
      })
    },
    addmusic () {
      var music = {name: this.music_name,
        band: {name: this.playlist_name,
          genre: {name: this.genre_name},
          record: {name: this.record_name}}}
      this.musiclist.push(music)
    },
    addplaylist () {
      this.post()
    }
  },

  // Fetches posts when the component is created.
  created () {
    axios.get(`http://localhost:8000/playlist/`)
    .then(response => {
      // JSON responses are automatically parsed.
      this.playlists = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;
  margin-top: 10px;
}
.playlists {
  font-size: 18px;
  color: #FFFFF;
}
.musics{
  font-size: 12px;
  color: #FF0044
}
.form{
  float: left;
}
.display{
  float: right;
}
</style>
